---
import BaseLayout from "../../layouts/BaseLayout.astro"
import Card from "../../components/card.svelte"
import type { MarkdownInstance } from "astro";
import type { PostFrontmatter } from "../../layouts/BlogPost.astro";

const posts = Object.values(import.meta.glob("./*.md", { eager: true })) as MarkdownInstance<PostFrontmatter>[];
---

<BaseLayout>
  <div class="flex">
    <div class="m-auto inline-grid gap-y-20 justify-center items-center">
      <div
        class="inline-grid xl:grid-cols-4 lg:grid-cols-3 grid-cols-2 gap-x-4 gap-y-4 mb-4"
      >
        {
        posts.map((post) => (
        <a class="block first:col-span-2" href={post.url}>
          <Card heading={post.frontmatter.title} date={new Date(post.frontmatter.pubDate)}>
            <img
              class="block object-cover h-full w-full aspect-3/2"
              src={post.frontmatter.heroImage}
              alt={post.frontmatter.title}
            />
          </Card>
        </a>
        ))
        }
      </div>
    </div>
  </div>
</BaseLayout>
